.root {
    display: flex;
    align-items: center;
    justify-content: center;
    > div {
        width: 800px;
        position: relative;
    }
}
.categories__btn {
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px;
    border-radius: 100px;
    cursor: pointer;
    position: fixed;
    bottom: 80px;
    right: 20px;
    z-index: 999;
    box-shadow: 5px 5px 35px rgb(193, 193, 193);
}

@media (max-width: 900px) {
    .root {
        padding: 0 40px;
    }
}
@media (max-width: 778px) {
    .root {
        margin-top: 40px;
    }
}
@media (max-width: 576px) {
    .categories__btn {
        width: 60px;
        height: 60px;
        right: 10px;
        bottom: 70px;
    }
}

@keyframes opsOn {
    0% {
        height: 0px;
    }
    100% {
        height: 400px;
    }
}
@keyframes opsOff {
    0% {
        height: 400px;
    }
    100% {
        height: 0px;
        display: none;
    }
}
