.card {
    margin-bottom: 10px;
    border-radius: 20px;
    background: #fff;
    .sup_cont {
        width: 100%;
        display: flex;
        justify-content: space-between;
        animation: anCard 0.3s;
    }
    .sub_content {
        display: flex;
        padding: 4px 10px;
        justify-content: space-between;
        width: 150px;
        margin: 0 auto;
    }
    .cont {
        width: 100%;
        display: flex;
        justify-content: space-between;
        img {
            width: 70px;
            height: 70px;
            object-fit: cover;
            border-radius: 20px;
        }
        .content {
            width: 38%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-inline-start: 8px;
            overflow: hidden;
            > .content_price {
                color: #fa6a3c;
                margin-top: 4px;
                font-size: 14px;
            }
        }
        .counter {
            width: 100px;
            display: flex;
            align-items: center;
            margin-inline-end: 12px;
            > img {
                width: 24px;
                height: 24px;
                transition: 0.2s;
                cursor: pointer;
                border-radius: 5px;
            }
            > img:hover {
                transform: scale(1.1);
                background-color: rgb(209 207 207);
            }
            > div {
                text-align: center;
                font-size: 18px;
                width: 80%;
            }
        }
    }

    .summ {
        width: 40%;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .icon_basket_delete {
        cursor: pointer;
        margin-inline-end: 12px;
    }
}

@keyframes anCard {
    0% {
        margin-top: -30px;
    }
    40% {
        margin-top: 10px;
    }
    70% {
        margin-top: -5px;
    }
    100% {
    }
}
