@import '../../scss/variables';

.card {
  @media (max-width: 576px) {
    .content_name {
      font-size: 12px;
    }

    .summ {
      font-size: 16px !important;
    }
  }
  width: 100%;
  display: flex;
  justify-content: space-between;
  animation: anCard 0.3s;
  margin-bottom: 10px;
  border-radius: 20px;
  background: #f6f6f6;

  .deleteItem {
    border-radius: 50%;
    border: 1px solid #dfdcdc;
    width: 25px;
    height: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cont {
    width: 100%;
    display: flex;
    justify-content: space-between;
    img {
      width: 70px;
      height: 70px;
      object-fit: cover;
      border-radius: 20px;
    }
    .content {
      width: 38%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-inline-start: 8px;
      .content_price {
        color: black;
        margin-top: 4px;
        font-size: 14px;
      }
    }
    .counter {
      width: 100px;
      display: flex;
      align-items: center;
      column-gap: 8px;
      > div {
        width: 25px !important;
        height: 25px;
        transition: 0.2s;
        cursor: pointer;
        border-radius: 5px;

        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;

        color: #000;

        border: 1px solid $base-color;

        .iconDelete {
          width: 8px;
          height: 15px;
        }

        svg {
          width: 12px;
          height: 15px;
        }

        svg path {
          stroke: black;
        }
      }
      > div:hover {
        transform: scale(1.1);
        background-color: $base-color;

        border: 0;

        color: white;

        svg path {
          stroke: white;
        }
      }
      > span {
        text-align: center;
        font-size: 18px;
      }
    }
  }

  .summ {
    width: 40%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #000;

    font-weight: 600;
    font-size: 20px;
  }
  .icon_basket_delete {
    cursor: pointer;
    margin-inline-end: 12px;
  }
}

@keyframes anCard {
  0% {
    margin-top: -30px;
  }
  40% {
    margin-top: 10px;
  }
  70% {
    margin-top: -5px;
  }
  100% {
  }
}
