.form {
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 120px 80px;
    background: #ffffff;
    border-radius: 10px;
    h2 {
        text-align: center;
        margin-bottom: 24px;
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
    }
    .text_field {
        height: 45px;
        border-radius: 8px;
        background: #f6f8ff;
        padding: 0 16px;
        border: none;
        transition: 0.2s;
    }
    .text_field:hover {
        background: #eaedff;
    }
    .text_field:focus {
        background: #eaedff;
    }
    > button {
        cursor: pointer;
        height: 45px;
        margin-top: 24px;
        border-radius: 12px;
        border: none;
        background: #f6f8ff;
        transition: 0.2s;
    }
    > button:hover {
        background: #eaedff;
    }
    .error {
        height: 30px;
        color: red;
        font-size: 14px;
        margin-inline-start: 12px;
    }
    .bott {
        display: flex;
        margin: 0 auto;
        margin-top: 24px;
        > div {
            cursor: pointer;
            margin-inline-start: 6px;
            color: rgb(15, 143, 241);
        }
    }
}
@media (max-width: 680px) {
    .form {
        background: none;
        padding: 0 40px;
    }
}
@media (max-width: 460px) {
    .form {
        background: none;
        padding: 0 20px;
    }
}
