.main {
  margin: 40px 120px;

  &__block {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 576px) {
    margin: 40px 0;

    &__title {
      margin-bottom: 50px;
      margin-left: 24px;
    }
  }
  @media (max-width: 768px) {
    margin: 40px 0;
  }
  @media (max-width: 1024px) {
    margin: 40px 0;
  }
  @media (max-width: 1024px) {
    margin: 40px 0;
  }

  &__title {
    font-size: 26px;
    font-weight: 700;

    display: none;
  }
}
