@import '../../../scss/variables';

.bask {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 50%;
  position: relative;

  div {
    position: absolute;
    background: $base-color;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    padding: 2px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 12px;
    top: 20px;
  }
  > button {
    // border: 1px solid #bebebe;
    border: 0;
    cursor: pointer;
    background: none;
    height: 50px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 35px;
      height: 35px;
    }
    > div {
      width: 50%;
    }
    > div:last-child {
      border-left: 1px solid #bebebe;
      > img {
        width: 20px;
      }
    }
  }
}
@media (max-width: 576px) {
  .bask {
    height: 60px;
    width: 60px;

    box-shadow: 5px 5px 35px rgb(193, 193, 193);

    div {
      font-size: 10px;
      right: 7px;
      top: 12px;
    }

    button {
      width: 60px;
      padding: 10px;
      column-gap: 0;
      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}
