.head {
  font-size: 32px;
  font-weight: 700;
  margin-top: 30px;
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}
@media (max-width: 576px) {
  .head {
    margin-left: 24px;
    font-size: 28px;
  }
}
@media (max-width: 1024px) {
  .head {
    margin-top: 0;
  }
}
