.categories {
    margin: 30px 50px;

    &__title {
        font-size: 25px;
        margin-bottom: 20px;
        font-weight: 600;
    }

    &__list {
        display: flex;
        flex-direction: column;
        width: 220px;

        li {
            border-radius: 30px;
            margin-bottom: 12px;
            padding: 12px;
            margin-left: -12px;
            margin-right: -12px;

            cursor: pointer;
            transition: background-color 0.1s ease-in-out;

            &:hover {
                background-color: darken(#fff, 2%);
            }

            &:active {
                background-color: darken(#f9f9f9, 5%);
            }

            &.active {
                background-color: #ffffff;
                color: black;
                margin-left: -12px;
                margin-right: -12px;
                font-weight: bold;
            }
        }
    }

    @media (max-width: 576px) {
        margin: 30px;
    }
}
