.form {
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    .text_field {
        height: 35px;
        border-radius: 7px;
        border-radius: 5px;
        border: 1px solid #e3e3e3;
        background: rgba(227, 227, 227, 0.1);
        padding: 0 12px;
    }
    > button {
        cursor: pointer;
        height: 35px;
        border-radius: 8px;
        margin-top: 24px;
        border: 1px solid #e2e2e2;
        background: rgba(226, 226, 226, 0.1);
    }
    .error {
        height: 30px;
        color: red;
        font-size: 14px;
    }
    .bott {
        display: flex;
        margin: 0 auto;
        margin-top: 24px;
        > div {
            cursor: pointer;
            margin-inline-start: 12px;
            color: rgb(78, 78, 193);
        }
    }
}
