.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    > div {
        display: flex;
        justify-content: space-between;
        > .basket {
            margin-inline-start: 30px;
        }
    }
    .categories {
        width: 220px;
        position: fixed;
    }
    .categories_plug {
        width: 320px;
    }

    .content {
        width: 900px;
    }
    .basket {
        width: 270px;
        margin-top: 20px;
        position: fixed;
        height: 100%;
    }
    .basket_plug {
        width: 300px;
        margin-inline-start: 30px;
    }

    @media (max-width: 1400px) {
        .categories_plug {
            width: 290px;
        }
    }

    @media (max-width: 1300px) {
        .categories_plug {
            width: 290px;
        }
        .basket_plug {
            display: none;
        }
    }
    @media (max-width: 1200px) {
        .basket_plug {
            width: 120px;
        }
    }
    @media (max-width: 1100px) {
        .basket_plug {
            width: 90px;
        }
    }
}

@media (max-width: 1300px) {
    .page {
        align-items: initial;
        padding-right: 100px;
    }
}
@media (max-width: 1100px) {
    .page {
        align-items: initial;
        padding-right: 30px;
    }
}
@media (max-width: 1024px) {
    .page {
        align-items: center;
        padding-right: 0;
    }
    .categories_plug {
        display: none;
    }
}
