.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  > div {
    display: flex;
    justify-content: space-between;
    > .basket {
      margin-inline-start: 30px;
    }
  }
  .categories {
    position: fixed;
  }
  .categories_plug {
    width: 320px;
  }

  .content {
    width: 900px;
  }
  .basket {
    margin-top: 20px;
    position: fixed;
  }
  .basket_plug {
    width: 300px;
    margin-inline-start: 30px;
  }
}
