.form {
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    &__imgroot {
        height: 300px;
        background-color: rgba($color: #000000, $alpha: 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        border-radius: 10px;

        .plug {
            width: 60px;
        }
        > div {
            margin-top: 4px;
        }
        .main_image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
        > input {
            cursor: pointer;
            width: 100%;
            height: 100%;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .text_field_root {
        margin-top: 18px;
        display: flex;
        flex-direction: column;
        > label {
            margin-bottom: 6px;
        }
        .text_field {
            height: 45px;
            border-radius: 8px;
            background: #f6f8ff;
            padding: 0 16px;
            border: none;
            transition: 0.2s;
        }
        .text_field:hover {
            background: #eaedff;
        }
        .text_field:focus {
            background: #eaedff;
        }
        .error {
            height: 30px;
            color: red;
            font-size: 14px;
            margin-inline-start: 12px;
        }
        > select {
            height: 30px;
        }
    }
    > button {
        cursor: pointer;
        height: 45px;
        margin-top: 24px;
        border-radius: 12px;
        border: none;
        background: #f6f8ff;
        transition: 0.2s;
    }
    > button:hover {
        background: #eaedff;
    }
}
