$black: #232323;
$background: #cacaca;
$gray-line: #f6f6f6;

$duration: 0.15s;

$card-bg: #e1e1e1;

$card-br: 32px;

$color-text-dark: #232323;
$color-text-white: #fff;

$neutral-color: #dfdfdf;

$base-border-radius: 8px;

$background-checkout: white;

$checkbox-border-width: 1.5px;

$checkbox-border-width2: 11px;

$base-color: #6943ba;
